name: GitHub Action Demo 1
on: push
jobs: 
  premier-job:
    name: Premier Job
    runs-on: Ubuntu-latest
    steps: 
      - run: echo "Premier job"
      - run: echo "Fin premier"
  deuxieme-job:
    name: Deuxieme Job
    runs-on: Ubuntu-latest
    steps: 
      - run: echo "Deuxieme job"
      - run: echo "Fin deuxieme"
